<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candidate Master Create View</title>
</head>

<body>
<div align="center">
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <br><hr>
        <br>

<!--        <div name="acade_container">-->

<!--        {{form_acade.as_p}}-->

<!--            </div>-->
        <div id="academic_form">


             <p><label for="id_course_name">Course name:</label><select name="course_name" required id="id_course_name">
            <option value="SSC">SSC</option>
            <option value="HSC">HSC</option>
            <option value="BECHELOR" >BECHELOR</option>
            <option value="MASTER">MASTER</option>
        </select></p>

            <p><label for="id_name_of_board_university">Name of board university:</label>
            <input type="text" name="name_of_board_university"  maxlength="30" required id="id_name_of_board_university" /></p>
            <p><label for="id_passing_year">Passing year:</label>
            <input type="number" name="passing_year"  required id="id_passing_year" /></p>
            <p><label for="id_percentage">Percentage:</label>
            <input type="number" name="percentage" required id="id_percentage" /></p>




        </div>






        <div id="academic_id"></div>
<!--        <div id="experiencesContainer"></div>-->

        <p onclick="add_acade()" align="center">+</p>
        <p onclick="remove_acade()" align="center">-</p>

        <br><hr>
        <br>

        <div id="experience_form">
            <p><label for="id_company_name">Company name:</label>
            <input type="text" name="company_name" maxlength="50" required id="id_company_name" /></p>
              <p><label for="id_designation">Designation:</label>
    <input type="text" name="designation"  maxlength="50" required id="id_designation" /></p>
<p><label for="id_from_date">From date:</label>
            <input type="date" name="from_date"  required id="id_from_date" /></p>

            <p><label for="id_to_date">To date:</label>
            <input type="date" name="to_date"  required id="id_to_date" /></p>

        </div>





<!--        {{form_exper.as_p}}-->
        <div id="experience_id"></div>
        <p onclick="add_exper()" align="center">+</p>
        <p onclick="remove_exper()" align="center">-</p>







        <br><hr>
        <br>

<!--        {{form_langu.as_p}}-->


        {% for i in data %}
    <div class="row" style="display:flex;justify-content:center">
        <span>{{ i }}:  </span>
        <span><input type="checkbox" value= {{ i }} name= {{ i }} onchange="change(`{{ i }}`)"></span>
        <div style="display:flex;flex-direction:row;justify-content:center">
            {% for f in lang_rws %}
            {{ f }}: <input type="checkbox" name={{ i }}{{ f }} disabled>
            {% endfor %}

<!--            {{form_langu.as_p}}-->

        </div>
    </div>
{% endfor %}

<!--        ........              -->

         <br><hr>
        <br>
         {% for i in tech %}
    <div class="row" style="display:flex;justify-content:center">
        <span>{{ i }}:  </span>
        <span><input type="checkbox" value= {{ i }} name= {{ i }} onchange="change_tech(`{{ i }}`)"></span>
        Begginer <input type="radio" name={{ i }}radio value="begginer" disabled>
        Mediator <input type="radio" name={{ i }}radio value="mediator" disabled>
        Expert <input type="radio" name={{ i }}radio value="expert" disabled>




<!--            {{ form_techn }}-->
<!--            {% for field in form_techn %}-->
<!--            <p>{{field}}</p>-->
<!--            {% endfor %}-->

<!--            {{form_langu.as_p}}-->


    </div>
{% endfor %}




<!--        .........              -->



         <br><hr>
        <br>

        <div id="reference_form">

            <p><label for="id_refe_name">Refe name:</label>
            <input type="text" name="refe_name" maxlength="50" required id="id_refe_name" /></p>
<p><label for="id_refe_contact_no">Refe contact no:</label>
            <input type="text" name="refe_contact_no"  maxlength="10" required id="id_refe_contact_no" /></p>
<p><label for="id_refe_relation">Refe relation:</label>
            <input type="text" name="refe_relation"  maxlength="30" required id="id_refe_relation" /></p>





        </div>


        <div id="reference_id"></div>
        <p onclick="add_refer()" align="center">+</p>
        <p onclick="remove_refer()" align="center">-</p>





        <br><hr>
        <br>

        {{form_prefe.as_p}}


<br>
        <input type="submit" value="SUBMIT">

    </form>

</div>
</body>
<script>
    function add_acade(){
    var abc = document.getElementById("academic_id")
    var ele = document.createElement("div")
    ele.innerHTML= `<p><label for="id_course_name">Course name:</label><select name="course_name" required >
            <option value="SSC">SSC</option><option value="HSC">HSC</option><option value="BECHELOR" >BECHELOR</option><option value="MASTER">MASTER</option>
        </select></p><p><label for="id_name_of_board_university">Name of board university:</label>
            <input type="text" name="name_of_board_university"  maxlength="30" required  /></p>
            <p><label for="id_passing_year">Passing year:</label>
            <input type="number" name="passing_year"  required  /></p>
            <p><label for="id_percentage">Percentage:</label>
            <input type="number" name="percentage" required  /></p>`

    abc.appendChild(ele)

    }

   function add_exper(){
    var abc = document.getElementById("experience_id")
     var ele = document.createElement("div")
    ele.innerHTML= `<p><label for="id_company_name">Company name:</label>
            <input type="text" name="company_name" maxlength="50" required /></p>
              <p><label for="id_designation">Designation:</label>
    <input type="text" name="designation"  maxlength="50" required  /></p>
<p><label for="id_from_date">From date:</label>
            <input type="date" name="from_date"  required /></p>
            <p><label for="id_to_date">To date:</label>
            <input type="date" name="to_date"  required  /></p>`
    abc.appendChild(ele)
    }

function add_refer(){
    var abc = document.getElementById("reference_id")
    var ele = document.createElement("div")
    ele.innerHTML= `<p><label for="id_refe_name">Refe name:</label>
            <input type="text" name="refe_name" maxlength="50" required/></p>
<p><label for="id_refe_contact_no">Refe contact no:</label>
            <input type="text" name="refe_contact_no"  maxlength="10" required /></p>
<p><label for="id_refe_relation">Refe relation:</label>
            <input type="text" name="refe_relation"  maxlength="30" required/></p>`
    abc.appendChild(ele)

    }



    function remove_acade(){
    var select = document.getElementById('academic_id');
    select.removeChild(select.lastChild);
    }

    function remove_exper(){
    var select = document.getElementById('experience_id');
    select.removeChild(select.lastChild);
    }




    function remove_refer(){
    var select = document.getElementById('reference_id');
    select.removeChild(select.lastChild);
    }



   function change(lang_name){
   var language_name = document.getElementsByName(lang_name);
   if(language_name[0].checked){
<!--   alert("condition is true")-->
   var name_read = lang_name+"read"
   var name_write = lang_name+"write"
   var name_speak = lang_name+"speak"




<!--   alert(name)-->

   var read = document.getElementsByName(name_read)
   read[0].disabled = false
   var write = document.getElementsByName(name_write)
   write[0].disabled = false
   var speak = document.getElementsByName(name_speak)
   speak[0].disabled = false



<!--   for(i=0; i<rws.length ; i++){-->
<!--   rws[i].disabled = false-->
<!--   }-->
<!--   alert(rws[0].disabled)-->
   }

   else{
   var name = lang_name+"rws"
   var rws = document.getElementsByName(name)
   for(i=0; i<rws.length ; i++){
   rws[i].disabled = true
   }


   }


<!--   alert(language_name[0].checked)-->
   }




 function change_tech(tech_name){
   var technology_name = document.getElementsByName(tech_name);
   if(technology_name[0].checked){
<!--   alert("condition is true")-->
   var name = tech_name+"radio"
<!--   alert(name)-->

   var rws = document.getElementsByName(name)
   for(i=0; i<rws.length ; i++){
   rws[i].disabled = false
   }
<!--   alert(rws[0].disabled)-->
   }

   else{
   var name = tech_name+"radio"
   var rws = document.getElementsByName(name)
   for(i=0; i<rws.length ; i++){
   rws[i].disabled = true
   }


   }


<!--   alert(language_name[0].checked)-->
   }



</script>



</html>