<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body onload="lang_selected(),tech_selected()">


<div align="center">
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <hr>
        <br>

        <div id="academic_form">
            <p><label>Course name:</label><select name="course_name" value={{ obj_acad_first.course_name }} required>
                {% if obj_acad_first.course_name == 'SSC' %}

                <option value="SSC" selected>SSC</option>
                <option value="HSC">HSC</option>
                <option value="BECHELOR">BECHELOR</option>
                <option value="MASTER">MASTER</option>
                {% endif %}


                {% if obj_acad_first.course_name == 'HSC' %}


                <option value="SSC">SSC</option>
                <option value="HSC" selected>HSC</option>
                <option value="BECHELOR">BECHELOR</option>
                <option value="MASTER">MASTER</option>
                {% endif %}

                {% if obj_acad_first.course_name == 'BECHELOR' %}
                <option value="SSC">SSC</option>
                <option value="HSC">HSC</option>
                <option value="BECHELOR" selected>BECHELOR</option>
                <option value="MASTER">MASTER</option>

                {% endif %}
                {% if obj_acad_first.course_name == 'MASTER' %}


                <option value="SSC">SSC</option>
                <option value="HSC">HSC</option>
                <option value="BECHELOR" selected>BECHELOR</option>
                <option value="MASTER" selected>MASTER</option>
                {% endif %}
            </select></p>

            <p><label>Name of board university:</label>
                <input type="text" name="name_of_board_university" value={{ obj_acad_first.name_of_board_university }}
                       maxlength="30" required/></p>
            <p><label>Passing year:</label>
                <input type="number" name="passing_year" value={{ obj_acad_first.passing_year }} required/></p>
            <p><label>Percentage:</label>
                <input type="number" name="percentage" value={{ obj_acad_first.percentage }} required/></p>


        </div>

        <div id="academic_id">

            {% for obj_acad in obj_acad %}

            <div>
                <p><label>Course name:</label><select name="course_name" value={{ obj_acad.course_name }}>
                    {% if obj_acad.course_name == 'SSC' %}

                    <option value="SSC" selected="selected">SSC</option>
                    <option value="HSC">HSC</option>
                    <option value="BECHELOR">BECHELOR</option>
                    <option value="MASTER">MASTER</option>
                    {% endif %}
                    {% if obj_acad.course_name == 'HSC' %}
                    <option value="SSC">SSC</option>
                    <option value="HSC" selected="selected">HSC</option>
                    <option value="BECHELOR">BECHELOR</option>
                    <option value="MASTER">MASTER</option>
                    {% endif %}
                    {% if obj_acad.course_name == 'BECHELOR' %}
                    <option value="SSC">SSC</option>
                    <option value="HSC">HSC</option>
                    <option value="BECHELOR" selected>BECHELOR</option>
                    <option value="MASTER">MASTER</option>
                    {% endif %}
                    {% if obj_acad.course_name == 'MASTER' %}
                    <option value="SSC">SSC</option>
                    <option value="HSC">HSC</option>
                    <option value="BECHELOR" selected>BECHELOR</option>
                    <option value="MASTER" selected>MASTER</option>
                    {% endif %}
                </select></p>

                <p><label>Name of board university:</label>
                    <input type="text" name="name_of_board_university" value={{ obj_acad.name_of_board_university }}
                           maxlength="30"/></p>
                <p><label>Passing year:</label>
                    <input type="number" name="passing_year" value={{ obj_acad.passing_year }}/></p>
                <p><label>Percentage:</label>
                    <input type="number" name="percentage" value={{ obj_acad.percentage }}/></p>

            </div>


            {% endfor %}
        </div>


        <!--        <div id="experiencesContainer"></div>-->

        <p onclick="add_acade()" align="center">+</p>
        <p onclick="remove_acade()" align="center">-</p>

        <br>
        <hr>
        <br>

        <div id="experience_form">
            <p><label>Company name:</label>
                <input type="text" name="company_name" value={{ obj_expe_first.company_name }} maxlength="50" required/>
            </p>
            <p><label>Designation:</label>
                <input type="text" name="designation" value={{ obj_expe_first.designation }} maxlength="50" required/>
            </p>
            <p><label>From date:</label>
                <input type="date" name="from_date" value={{obj_expe_first.from_date|date:'Y-m-d'}} required/></p>

            <p><label>To date:</label>
                <input type="date" name="to_date" value={{obj_expe_first.to_date|date:'Y-m-d'}} required/></p>

        </div>


        <div id="experience_id">
            {% for obj_expe in obj_expe %}
            <div>

                <p><label>Company name:</label>
                    <input type="text" name="company_name" value={{ obj_expe.company_name }} maxlength="50"/></p>
                <p><label>Designation:</label>
                    <input type="text" name="designation" value={{ obj_expe.designation }} maxlength="50"/></p>
                <p><label>From date:</label>
                    <input type="date" name="from_date" value={{obj_expe.from_date|date:'Y-m-d'}}/></p>

                <p><label>To date:</label>
                    <input type="date" name="to_date" value={{obj_expe.to_date|date:'Y-m-d'}}/></p>

            </div>


            {% endfor %}

        </div>
        <p onclick="add_exper()" align="center">+</p>
        <p onclick="remove_exper()" align="center">-</p>


        <br>
        <hr>
        <br>

<!--                {{form_langu.as_p}}-->
        {% for i in data %}

        <div class="row" style="display:flex;justify-content:center">
            <span>{{ i }}:  </span>
            <span><input type="checkbox" value={{ i }} name={{ i }} id={{ i }} onchange="change(`{{ i }}`)"></span>
            <div style="display:flex;flex-direction:row;justify-content:center">
                {% for f in lang_rws %}
                {{ f }}: <input type="checkbox" name={{ i }}{{ f }} id={{ i }}{{ f }} disabled>
                {% endfor %}

                <!--            {{form_langu.as_p}}-->

            </div>
        </div>
        {% endfor %}




        <!--        ........              -->


        <br>
        <hr>
        <br>
          <br>
        {% for i in tech %}
        <div class="row" style="display:flex;justify-content:center">
            <span>{{ i }}:  </span>
            <span><input type="checkbox" value={{ i }} name={{ i }} id={{ i }} onchange="change_tech(`{{ i }}`)"></span>
            Begginer <input type="radio" name={{ i }}radio id={{ i }}b value="begginer" disabled>
            Mediator <input type="radio" name={{ i }}radio id={{ i }}m value="mediator" disabled>
            Expert <input type="radio" name={{ i }}radio id={{ i }}e value="expert" disabled>


        </div>
        {% endfor %}






        <!--        .........              -->


        <br>
        <hr>
        <br>

        <div id="reference_form">

            <p><label>Refe name:</label>
                <input type="text" name="refe_name" value={{ obj_refe_first.refe_name }} maxlength="50" required/></p>
            <p><label>Refe contact no:</label>
                <input type="text" name="refe_contact_no" value={{ obj_refe_first.refe_contact_no }} maxlength="10"
                       required/></p>
            <p><label>Refe relation:</label>
                <input type="text" name="refe_relation" value={{ obj_refe_first.refe_relation }} maxlength="30"
                       required/></p>
        </div>


        <div id="reference_id">
            {% for obj_refe in obj_refe %}
            <div>
                <p><label>Refe name:</label>
                    <input type="text" name="refe_name" value={{ obj_refe.refe_name }} maxlength="50"/></p>
                <p><label>Refe contact no:</label>
                    <input type="text" name="refe_contact_no" value={{ obj_refe.refe_contact_no }} maxlength="10"/></p>
                <p><label>Refe relation:</label>
                    <input type="text" name="refe_relation" value={{ obj_refe.refe_relation }} maxlength="30"/></p>


            </div>


            {% endfor %}


        </div>
        <p onclick="add_refer()" align="center">+</p>
        <p onclick="remove_refer()" align="center">-</p>


        <br>
        <hr>
        <br>

        {{form_prefe.as_p}}


        <br>
        <input type="submit" value="SUBMIT">

    </form>

</div>
</body>
<script>
    function add_acade(){
    var abc = document.getElementById("academic_id")
    var ele = document.createElement("div")
    ele.innerHTML= `<p><label>Course name:</label><select name="course_name" required >
            <option value="SSC">SSC</option>
            <option value="HSC">HSC</option>
            <option value="BECHELOR" >BECHELOR</option>
            <option value="MASTER">MASTER</option>
        </select></p>

            <p><label >Name of board university:</label>
            <input type="text" name="name_of_board_university" maxlength="30" required /></p>
            <p><label>Passing year:</label>
            <input type="number" name="passing_year"  required  /></p>
            <p><label>Percentage:</label>
            <input type="number" name="percentage" required  /></p>`
    abc.appendChild(ele)

    }

   function add_exper(){
    var abc = document.getElementById("experience_id")
     var ele = document.createElement("div")
    ele.innerHTML= `<p><label>Company name:</label>
            <input type="text" name="company_name" maxlength="50"  /></p>
              <p><label>Designation:</label>
    <input type="text" name="designation" maxlength="50" /></p>
<p><label>From date:</label>
            <input type="date" name="from_date"  /></p>

            <p><label>To date:</label>
            <input type="date" name="to_date"  /></p>`
    abc.appendChild(ele)
    }

function add_refer(){
    var abc = document.getElementById("reference_id")
    var ele = document.createElement("div")
    ele.innerHTML= `<p><label>Refe name:</label>
            <input type="text" name="refe_name"  maxlength="50"  /></p>
<p><label>Refe contact no:</label>
            <input type="text" name="refe_contact_no" maxlength="10" /></p>
<p><label>Refe relation:</label>
            <input type="text" name="refe_relation"  maxlength="30"  /></p>`
    abc.appendChild(ele)

    }



    function remove_acade(){
    var select = document.getElementById('academic_id');
    select.removeChild(select.lastChild);
    }

    function remove_exper(){
    var select = document.getElementById('experience_id');
    select.removeChild(select.lastChild);
    }




    function remove_refer(){
    var select = document.getElementById('reference_id');
    select.removeChild(select.lastChild);
    }



   function change(lang_name){
   var language_name = document.getElementsByName(lang_name);
   if(language_name[0].checked){

   var name_read = lang_name+"read"
   var name_write = lang_name+"write"
   var name_speak = lang_name+"speak"






   var read = document.getElementsByName(name_read)
   read[0].disabled = false
   var write = document.getElementsByName(name_write)
   write[0].disabled = false
   var speak = document.getElementsByName(name_speak)
   speak[0].disabled = false




   }

   else{
   var name_read = lang_name+"read"
   var name_write = lang_name+"write"
   var name_speak = lang_name+"speak"

   var read = document.getElementsByName(name_read)
   read[0].disabled = true
   var write = document.getElementsByName(name_write)
   write[0].disabled = true
   var speak = document.getElementsByName(name_speak)
   speak[0].disabled = true



   }



   }




 function change_tech(tech_name){
   var technology_name = document.getElementsByName(tech_name);
   if(technology_name[0].checked){

   var name = tech_name+"radio"

   var rws = document.getElementsByName(name)
   for(i=0; i<rws.length ; i++){
   rws[i].disabled = false
   }

   }

   else{
   var name = tech_name+"radio"
   var rws = document.getElementsByName(name)
   for(i=0; i<rws.length ; i++){
   rws[i].disabled = true
   }


   }



   }




function lang_selected(){
var obj= {{obj_lang | safe}}
for(let i =0; i <obj.length; i++){
document.getElementById(obj[i].language).checked = 'checked'
if(obj[i].read == 'true'){

document.getElementById(obj[i].language+"read").checked = 'checked'
document.getElementById(obj[i].language+"read").disabled = false
document.getElementById(obj[i].language+"write").disabled= false
document.getElementById(obj[i].language+"speak").disabled = false

}
if(obj[i].write == 'true'){

document.getElementById(obj[i].language+"write").checked = 'checked'
document.getElementById(obj[i].language+"read").disabled = false
document.getElementById(obj[i].language+"write").disabled= false
document.getElementById(obj[i].language+"speak").disabled = false

}
if(obj[i].speak == 'true'){

document.getElementById(obj[i].language+"speak").checked = 'checked'
document.getElementById(obj[i].language+"read").disabled = false
document.getElementById(obj[i].language+"write").disabled= false
document.getElementById(obj[i].language+"speak").disabled = false

}

}



 }






function tech_selected(){
var obj= {{obj_tech | safe}}



for(let i =0; i <obj.length; i++){
document.getElementById(obj[i].technology).checked = 'checked'
if(obj[i].ranting == 3){
var id = obj[i].technology+"b"


document.getElementById(id).checked = 'checked'
document.getElementById(id).disabled = false
document.getElementById(obj[i].technology+"m").disabled= false
document.getElementById(obj[i].technology+"e").disabled = false

}
if(obj[i].ranting == 6){
var id = obj[i].technology+"m"


document.getElementById(id).checked = 'checked'
document.getElementById(id).disabled = false
document.getElementById(obj[i].technology+"b").disabled= false
document.getElementById(obj[i].technology+"e").disabled = false

}
if(obj[i].ranting == 10){
var id = obj[i].technology+"e"

document.getElementById(id).checked = 'checked'

document.getElementById(id).disabled = false
document.getElementById(obj[i].technology+"b").disabled= false
document.getElementById(obj[i].technology+"m").disabled = false

}

}


}







</script>

</html>